.topnav{
    background-color:rgb(233, 217, 217);
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: firebrick;
    text-align: center;
    padding: 1pc 1.2pc;
    text-decoration: none;
    font-size: larger;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a:active {
    background-color: #04AA5F;
    color: white;
}

.topnav .icon {
    display: none;
}

.yes .imgInauguration{
    margin: 1em;
    width: 50%;
}